
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: soleil, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
}


/* Nav Area */
header nav {
    margin-top: 45px;
    text-align: center;
    height: 150px;
    border-bottom: 1px solid darkgrey;
    /* position:fixed;
    top:0; */
    /* border: 5px dotted orange */
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    /* border:1px solid blue; */
}

header nav ul li {
    list-style-type: none;
    padding: 0px 20px;
    margin: 0px 10px;

    /* border:1px solid blue; */
}

header nav ul li h1 {
    list-style-type: none;
    display: inline;
    padding: 0px 20px;
    margin: 0px 10px;
    font-family: enchanted, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #FF312E;
    font-style: italic;
}

header nav .nav-site-links {
    display: flex;
    /* border:1px solid orange; */
}

header nav .nav-social-media-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border:1px solid orange; */
}

header nav ul li a {
    color: #262A28;
    text-decoration: none;
}

header nav ul li a:active {
    color: darkred;
}

header nav ul li a:visited {
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #262A28;
}

header nav ul li .home { /*keep below nav a links*/
    text-decoration: underline;
    color: #FF312E;
}

header nav ul li .home:hover { /*keep below nav a links*/
    text-decoration: none;
}

header nav ul div .nav-search {
    font-size: 15px;
    width: 150px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-radius: 20px;
    border:1px solid gray;
    font-family: soleil, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
}

header nav ul div .nav-search:hover {
    width: 250px;
    outline: none;
}

.github a img {
    padding: 4px;
    border: 3px double black;
    border-radius: 25px;
}

/* Section-1 */

.section-1 {
    padding: 2% 0% 2% 0%;
}
/* .footer-icons a:hover {
    color: #FF312E;
} */

.section-1 .left-right-sides {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-1 .left-side {
    width: 40%;
    display: flex;
    justify-content: center;
}

.section-1 .right-side {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1 .right-side p {
    width: 70%;
    padding-bottom: 3%;
}

.section-1 .right-side ul {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.section-1 .right-side h1 {
    font-size: 50px;
}

.section-1 .right-side h3 {
    font-size: 25px;
    margin: 15px 0px 15px 0px;
}

.tech-used {
    text-decoration: underline;
}

.section-1 .right-side ul li:hover {
    color:#FF312E;
    font-weight: bold;
}

.section-1 .right-side ul li {
    color:#3CABE3;
    font-weight: bold;
    font-size: 25px;;
}

.pulsate-2 {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}

.pulsate-4 {
    -webkit-animation: pulsate 4s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}

/* Section-2 */
.section-2 {
    /* border: 1px solid red; */
    margin: 50px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.project-nav {
    border-top: 1px solid #FF312E;
    border-bottom: 1px solid #FF312E;
    height: 40px;
    margin-bottom: 10px;
}

.card-inner-border {
    padding: 10px;
    border:1px solid #FF312E;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ACD9EA;
}

.tech-used {
    color: #FF312E;
    list-style-type: none;
    margin-top: 10px;
}

.card-body a {
    margin-top: 10px;
}

/* Contact Button */
.contact-button {
    position:fixed;
    right: 0;
    bottom: 0;
}

/* Blog */
.blog-section-titles {
    margin-top: 35px;
    font-size: 35px;
    text-decoration: underline;

}

.blog-container {
    display: flex;
    flex-direction: row;
}

.blog-posts {
    width: 75%;
    border-right: 1px solid darkgrey;
    align-items: center;
    /* border: 1px solid red; */
}

.recent-posts {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

/* Contact Button */
.contact-button {
    position:fixed;
    right: 10px;
    bottom: 10px;
}

/* Footer */

footer {
    border-top:1px solid gray;
    height: 20px;
}

/* test*/



